/* Correcoes */
#inscricao .header-bg {
  background: var(--cor-c11);
}

#inscricao .navbar a::after {
  background: var(--cor-c1);
}

#inscricao .botao-header {
  box-shadow: none;
  transition: all 0.3s ease;
}

#inscricao .footer {
  border-top: none;
}


.inscricao label {
  display: block;
}

.form-crianca {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-crianca label {
  margin-bottom: 4px;
}
.form-crianca input {
  margin-bottom: 4px;
}

.form-crianca > div {
  margin-bottom: 10px;

}



