.about {
  background: url('../../img/about/about-bg.jpg') no-repeat fixed;
  padding: 60px 16px;
}

.about-content {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  padding: 0 16px;
  align-items: center;
}

.about-text {
  padding: 10px;
  background: var(--cor-c1);
}


.img-wrapper {
  max-width: 370px;
}

.img-wrapper:nth-child(2) {
  max-width: 286px;
}

.img-wrapper img {
  width: 100%;
  border-radius: 4px;
}